@import url("./assets/bootstrap-icons.css");

:root {
  --bg-00dp: #121924;
  --bg-01dp: #1e252f;
  --bg-02dp: #232933;
  --bg-03dp: #252b35;
  --bg-04dp: #272e38;
  --bg-06dp: #2c323c;
  --bg-08dp: #2f353f;
  --bg-12dp: #333943;
  --bg-16dp: #353b45;
  --bg-24dp: #383e47;
  --primary: #0d6efd;
  --primary-dark: #103770;
  --primary-dark-hover: #102e59;
  --primary-light: #9ec5fe;
  --secondary: #e9ecef;
  --secondary-dark: #68696a;
}

.app {
  height: 100vh;
  background-color: var(--bg-00dp);
}

.app .row {
  height: 90vh;
}

.navbar.navbar-dark {
  background-color: var(--bg-02dp);
}

.list-group {
  overflow: auto;
}

.modal-content {
  background-color: var(--bg-01dp) !important;
  color: white;
}

.modal-content .list-group-item {
  background-color: var(--bg-12dp);
  color: white;
}

input.form-control,
input.form-control:focus,
textarea.form-control,
textarea.form-control:focus,
select.form-select {
  background-color: var(--bg-06dp);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
}

.btn-secondary {
  background-color: var(--bg-24dp) !important;
  color: #fff !important;
  border-color: transparent !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--bg-08dp) !important;
}

.dropdown-menu-dark .dropdown-item:hover {
  background-color: var(--primary-dark) !important;
}

.app .meeting-sidebar {
  padding-left: 0;
  padding-right: 0;
  background: var(--bg-01dp);
  height: 100%;
}

.meeting-info-btn {
  background-color: transparent !important;
  border-color: transparent !important;
  border-radius: 0 !important;
}
.meeting-info-btn:hover,
.meeting-info-btn:focus {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

.meeting-info-btn:focus {
  box-shadow: none !important;
}

.scrollable {
  height: 100%;
  overflow: auto;
}

.meeting-queue,
.slider .list-group,
.queue-item .btn {
  border-radius: 0 !important;
}

.queue-item {
  margin-bottom: 1px;
}

.queue-item .btn {
  border: 0;
}

.list-group .list-group-item {
  background-color: var(--bg-12dp);
  color: #fff;
}

.list-group-item-action.active,
.list-group-item-action:focus,
.list-group-item-action:hover {
  background-color: var(--primary-dark) !important;
  color: white !important;
}

.presentation {
  height: 100%;
}

.slider {
  background-color: var(--bg-04dp);
  height: 100%;
}

.navbar {
  margin-left: calc(-1 * var(--bs-gutter-x, 0.75rem));
  margin-right: calc(-1 * var(--bs-gutter-x, 0.75rem));
  max-height: 10vh;
}

.navbar-logo {
  width: 11.625rem;
}

.navbar .projection-btn {
  height: 10vh;
  border-radius: 0;
}

/*** SCROLLBAR ***/
/* width */
.scrollable::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.25rem;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.25rem;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.projection-screen {
  height: 100vh;
  padding: 5vh 5vw;
}

.projection-main-text p {
  margin: 0;
  font-size: 1.5rem;
}

.theme-editor {
  padding: 0 !important;
}

.preview-themes .row {
  height: 50%;
}

.themes-title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--bg-04dp);
  font-size: 1.1rem;
  padding: 0.5rem 0;
  margin: 0;
}

.card.theme-card {
  background-color: var(--bg-04dp);
  color: #ffffff;
}

.btn.btn-primary-dark {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  color: #ffffff;
}

.btn.btn-primary-dark:hover {
  color: #ffffff;
}

.stretched-link:hover::after {
  background-color: rgba(0, 0, 0, 0.15);
}
